@define-color base rgb(30, 30, 46);
@define-color text rgb(205, 214, 244);
@define-color pink rgb(245, 194, 231);
@define-color surface2 rgb(88, 91, 112);
@define-color crust rgb(17, 17, 27);
@define-color maroon rgb(235, 160, 172);
@define-color red rgb(243, 139, 168);
@define-color green rgb(166, 227, 161);
@define-color lavender rgb(180, 190, 254);
@define-color yellow rgb(249, 226, 175);
@define-color blue rgb(137, 180, 250);
@define-color surface0 #313244;
@define-color subtext1 rgb(92, 95, 119);

label {
    color: @text;
}

.testing {
    background-color: red;
}

.control-center {
    background: @base;
    border-radius: 24px;
    border: 2px solid @surface0;
    margin: 2px;
    padding: 4px;
}

.control-center-list {
    background: transparent;
}

.control-center-list-placeholder {
    opacity: 1;
}

/* Window behind control center and on all other monitors */
.blank-window {
    background: rgba(0, 0, 0, 0.2);
}

/*** Widgets ***/

/* Title widget */
.widget-title {
    margin: 8px;
    font-size: 1.5rem;
    background: alpha(@color0, 0);
}

.widget-title>button {
    font-size: initial;
    color: @red;
    text-shadow: none;
    background: alpha(@background, 0);
    border: 1px solid @red;
    box-shadow: none;
    border-radius: 12px;
}

.widget-title>button>label {
    color: @pink;
}

.widget-title>button:hover {
    background: @surface0;
}

.widget-label {
    background: @color0;
    padding: 20px;
    padding-bottom: 50px;
    border-radius: 20px;
}

/* DND widget */
.widget-dnd {
    background-color: @color;
}

.widget-dnd>switch {
    font-size: initial;
    border-radius: 14px;
    background: @noti-bg;
    border: 2px solid @noti-border-color;
    box-shadow: none;
}

.widget-dnd>switch:checked {
    background: @color5;
}

.widget-dnd>switch slider {
    background: @noti-bg-hover;
    border-radius: 12px;
}

/* Label widget */
.widget-label {
    margin: 8px;
}

.widget-label>label {
    font-size: 1.1rem;
}

/* Mpris widget */
.widget-mpris {
    font-family: "JetBrains Mono Nerd Font";
    /* The parent to all players */
    border: 0px;
}

.widget-mpris-player {
    padding: 14px;
    margin: 14px;
    /*background-color: @mpris-album-art-overlay;*/
    border-radius: 20px;
}

.widget-mpris-album-art {
    border-radius: 12px;
}

.widget-mpris-player button:hover {
    /* The media player buttons (play, pause, next, etc...) */
    background: @noti-bg-hover;
}

.widget-mpris>box>button {
    /* Change player side buttons */
}

.widget-mpris>box>button:disabled {
    /* Change player side buttons insensitive */
}

.widget-mpris-title {
    font-family: "JetBrains Mono Nerd Font";
    font-weight: bold;
    font-size: 1.25rem;
}

.widget-mpris-subtitle {
    font-family: "JetBrains Mono Nerd Font";
    font-size: 1.1rem;
}

/* Buttons widget */
.widget-buttons-grid {
    font-size: 15px;
    background: alpha(@background, 0.9);
    font-family: "JetBrains Mono Nerd Font";
    padding-left: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: alpha(@background, 0.9);
}


.widget-buttons-grid>flowbox>flowboxchild>button:hover>label { color: @pink; }
/* changed by script. do not change it manually */
/* DEFAULT VALUES */
/*.widget-buttons-grid>XXXflowbox>flowboxchild:nth-child(2)>button>label {}*/
/*.widget-buttons-grid>XXXflowbox>flowboxchild:nth-child(2)>button {}*/
/*.widget-buttons-grid>XXXflowbox>flowboxchild>button:hover>label { color: @pink; }*/
.widget-buttons-grid>flowbox>flowboxchild:nth-child(2)>button>label {}
.widget-buttons-grid>flowbox>flowboxchild:nth-child(2)>button {}
.widget-buttons-grid>flowbox>flowboxchild:nth-child(2)>button:hover>label { color: @pink; }


.widget-buttons-grid>flowbox>flowboxchild:nth-child(4)>button>label {}
.widget-buttons-grid>flowbox>flowboxchild:nth-child(4)>button {}
.widget-buttons-grid>flowbox>flowboxchild:nth-child(4)>button:hover>label { color: @pink; }


.widget-buttons-grid>flowbox>flowboxchild>button {
    padding: 10px;
    background: transparent;
    color: @color7;
    border-radius: 20px;
    border: 2px solid @surface0;
    margin: 2px;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
    border: 2px solid @pink;
    color: @pink;
    transition: all 0.2s ease-in-out;
}


/* Menubar widget */
.widget-menubar>box>.menu-button-bar>button {
    border: none;
    background: transparent;
    background: red;
}

.topbar-buttons>button {
    /* Name defined in config after # */
    border: none;
    background: transparent;
    background: rgba(69, 133, 136, 1);
}

/* Volume widget */
trough {
    border-radius: 20px;
    background: @surface0;
    border: 1px solid transparent;
}

trough highlight {
    /* ´trough´ is the background of the slider, ´highlight´ is the actual slider */
    padding-top: 1px;
    background: @pink;
    border: 1px solid @pink;
    border-radius: 20px;
}

trough slider {
    padding: 1px;
    background: transparent;
    border: 1px solid transparent;
}

trough slider:hover {
    padding: 1px;
    background: @pink;
    border: 1px solid @transparent;
}

.widget-volume {
    background-color: alpha(@background, 0);
    border-radius: 20px 20px 0px 0px;
    font-size: 24px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 5px;
    border: 0px solid transparent;
}

.widget-backlight {
    padding-left: 5px;
    background-color: alpha(@background, 0);
    font-size: 24px;
    margin-top: -8px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 0px 0px 20px 20px;
    border: 0px solid transparent;
}

/* Title widget */
.widget-inhibitors {
    margin: 8px;
    font-size: 1.5rem;
}

.widget-inhibitors>button {
    font-size: initial;
    color: white;
    text-shadow: none;
    background: @noti-bg;
    border: 1px solid @noti-border-color;
    box-shadow: none;
    border-radius: 12px;
}

.widget-inhibitors>button:hover {
    background: @noti-bg-hover;
}

.notification-row {
    outline: none;
    /*background: red;*/
}

.notification-row:focus,
.notification-row:hover {
    background: red;
    /* @noti-bg-focus */
}

.notification-row .notification-background {
    padding: 0;
    background: @base;
    border: 2px solid @surface0;
    border-radius: 12px;
}
.notification-row .notification-background:hover {
    border: 2px solid @pink;
}

/* The notification Close Button */
.notification-row .notification-background .close-button {
    background: transparent;
    /* @noti-close-bg */
    color: @subtext1;
    /* @text-color */
    text-shadow: none;
    /*border: 2px solid @subtext1;*/
    padding: 0;
    border-radius: 100%;
    margin-top: 5px;
    margin-right: 5px;
    box-shadow: none;
    min-width: 24px;
    min-height: 24px;
}

.notification-row .notification-background .close-button:hover {
    /*border: 2px solid @pink;*/
    color: @pink;
    /* @noti-close-bg-hover */
    transition: background 0.15s ease-in-out;
}

.notification-row .notification-background .notification {
    /* The actual notification */
    border-radius: 12px;
    border: 2px solid @surface0;
    /* @border */
    padding-right: 20px;
    transition: background 0.15s ease-in-out;
    background: transparent;
    /* @noti-bg */
}

.notification-row .notification-background .notification.low {
    /* Low Priority Notification */
}

.notification-row .notification-background .notification.normal {
    /* Normal Priority Notification */
}

.notification-row .notification-background .notification.critical {
    /* Critical Priority Notification */
}

.notification-row .notification-background .notification .notification-action,
.notification-row .notification-background .notification .notification-default-action {
    padding: 4px;
    margin: 0;
    box-shadow: none;
    background: transparent;
    border: none;
    color: alpha(@color15, 1);
    /* @text-color */
    transition: background 0.15s ease-in-out;
}

.notification-row .notification-background .notification .notification-action:hover,
.notification-row .notification-background .notification .notification-default-action:hover {
    background: transparent;
    /* @noti-bg-hover */
}

.notification-row .notification-background .notification .notification-default-action {
    /* The large action that also displays the notification summary and body */
    border-radius: 12px;
    background: transparent;
}

.notification-row .notification-background .notification .notification-default-action:not(:only-child) {
    /* When alternative actions are visible */
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content {
    background: transparent;
    border-radius: 12px;
    padding: 4px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .image {
    /* Notification Primary Image */
    border-radius: 100px;
    /* Size in px */
    margin: 4px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .app-icon {
    /* Notification app icon (only visible when the primary image is set) */
    -gtk-icon-shadow: 0 1px 4px black;
    margin: 6px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .summary {
    /* Notification summary/title */
    font-size: 16px;
    font-weight: bold;
    background: transparent;
    color: @text;
    /* @text-color */
    text-shadow: none;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .time {
    /* Notification time-ago */
    font-size: 16px;
    font-weight: bold;
    background: transparent;
    color: @subtext1;
    /* @text-color */
    text-shadow: none;
    margin-right: 30px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .body {
    /* Notification body */
    font-size: 15px;
    font-weight: normal;
    background: transparent;
    color: alpha(@color15, 1);
    /* @text-color */
    text-shadow: none;
}

.notification-row .notification-background .notification .notification-default-action .notification-content progressbar {
    /* The optional notification progress bar */
    margin-top: 4px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .body-image {
    /* The "extra" optional bottom notification image */
    margin-top: 4px;
    background-color: alpha(@color15, 0.5);
    border-radius: 12px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply {
    /* The inline reply section */
    margin-top: 4px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-entry {
    background: alpha(@color1, 0.5);
    /* @noti-bg-darker */
    color: alpha(@color15, 1);
    /* @text-color */
    caret-color: alpha(@color15, 1);
    /* @text-color */
    border: 1px solid alpha(@color8, 0.5);
    /* @border */
    border-radius: 12px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-button {
    margin-left: 4px;
    background: alpha(@color0, 0.5);
    /* @noti-bg */
    border: 1px solid alpha(@color8, 0.5);
    /* @border */
    border-radius: 12px;
    color: alpha(@color15, 1);
    /* @text-color */
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-button:disabled {
    background: initial;
    color: alpha(@color7, 0.5);
    /* @text-color-disabled */
    border: 1px solid alpha(@color8, 0.5);
    /* @border */
    border-color: transparent;
}

.notification-row .notification-background .notification .notification-default-action .inline-reply .inline-reply-button:hover {
    background: alpha(@color13, 0.5);
    /* @noti-bg-hover */
}

.notification-row .notification-background .notification .notification-action {
    /* The alternative actions below the default action */
    border-top: 1px solid alpha(@color8, 0.5);
    /* @border */
    border-radius: 0px;
    border-right: 1px solid alpha(@color8, 0.5);
    /* @border */
}

.notification-row .notification-background .notification .notification-action:first-child {
    /* Add bottom border radius to eliminate clipping */
    border-bottom-left-radius: 12px;
}

.notification-row .notification-background .notification .notification-action:last-child {
    border-bottom-right-radius: 12px;
    border-right: none;
}

.notification-group {
    /* Styling only for Grouped Notifications */
}

.notification-group.low {
    /* Low Priority Group */
}

.notification-group.normal {
    /* Normal Priority Group */
}

.notification-group.critical {
    /* Critical Priority Group */
}

/* header, title */
.notification-group .notification-group-buttons,
.notification-group .notification-group-headers {
    margin: 0 16px;
    color: @pink;
    /* @text-color */
}

.notification-group .notification-group-buttons,
.notification-group .notification-group-headers>label {
    color: @pink;
}

.notification-group .notification-group-headers>label {
    /* Notification Group Headers */
    color: @pink;
}

/* header, icon */
.notification-group .notification-group-headers .notification-group-icon {
    color: @text;
    /* @text-color */
}

/* header, title */
.notification-group .notification-group-headers .notification-group-header {
    color: @text;
    /* @text-color */
}

.notification-group .notification-group-buttons {
    /* Notification Group Buttons */
    background: transparent;
}

/* notification close dimiss */
.notification-group .notification-group-buttons>button {
    background: transparent;
    color: @subtext1;
}
.notification-group .notification-group-buttons>button:hover{
    color: @pink;
}

.notification-group.collapsed .notification-row .notification {
    background-color: @base;
    /* @noti-bg-opaque */
    background: @base;
}

.notification-group.collapsed .notification-row:not(:last-child) {
    /* Top notification in stack */
    /* Set lower stacked notifications opacity to 0 */
}

.notification-group.collapsed .notification-row:not(:last-child) .notification-action,
.notification-group.collapsed .notification-row:not(:last-child) .notification-default-action {}

.notification-group.collapsed:hover .notification-row:not(:only-child) .notification {
    /* @noti-bg-hover-opaque */
}
